nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 104px;
}
select{
    color: #0A0213;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    border: none;
}
.menu{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 35px;
}
.menu ul li{
    color: #0A0213;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.auth{
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.auth strong{
    color: #0A0213;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 400;
}